* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: system-ui;
  --dark-eye-color: #131637;
  --darker-eye-color: #111432;
}

body {
  margin: 0;
  padding: 0;
}

.full {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

nav {
  padding: 5px 10px;
  width: 100%;
  display: flex;

  & > div {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }

  & #signup-button {
    background-color: var(--dark-eye-color);
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
  }

  & #login-button {
    color: var(--dark-eye-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
  }

  & #logout-button {
    color: var(--dark-eye-color);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 100%;
  }
}

.gradient-eye-colors {
  background: linear-gradient(
    45deg,
    var(--dark-eye-color) 0%,
    var(--darker-eye-color) 100%
  );
}

h1 {
  font-size: 2em;
  font-weight: 600;
  margin: 10px;
  color: #111;
}

p {
  margin: 10px;
}

form {
  --bg-color: #eee;
  --gap: 5px;
  margin: 10px;
  display: flex;
  gap: var(--gap);
  
  & button {
    padding: var(--gap) 10px;
    border-radius: var(--gap);
    border: none;
    cursor: pointer;
    transition: scale 0.2s ease, box-shadow 0.2s ease;

    &:has(i) {
      background-color: var(--dark-eye-color);
    }

    &:hover {
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.1);
      scale: 1.05;
    }
  }

  & input {
    padding: var(--gap);
    border-radius: var(--gap);
    border: none;
    background-color: var(--bg-color);
  }
}

img {
  margin: 100px;
}

.band {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-eye-color);

  & p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
  }
}

.wink {
  display: flex;
  gap: 5px;
  align-items: center;
}

.copy {
  cursor: pointer;
}

.hidden {
  display: none;

  &::before {
    display: none;
  }
}

.card {
  max-width: 90ch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.green {
  color: green;
}

.white {
  color: white;
}
